<label>Email_id :- </label><h4>{{email_id}}</h4>
<mat-divider></mat-divider>
<label>Name :- </label><h4>{{name}}</h4>
<mat-divider></mat-divider>
<label>Mobile no :- </label><h4>{{mobile_no}}</h4>
<mat-divider></mat-divider>
<label>Date Of Birth  :- </label><h4>{{dob | date}}</h4>
<mat-divider></mat-divider>
<label>Address :- </label><h4>{{address}}</h4>
<mat-divider></mat-divider>
<label>Salary :- </label><h4>{{salary}}</h4>
<mat-divider></mat-divider>
<label>Joining Date  :- </label><h4>{{joining_date | date}}</h4>
<mat-divider></mat-divider>
