<label>Name :- </label><h4>{{name}}</h4>
<mat-divider></mat-divider>
<label>Discription :- </label><h4>{{discription}}</h4>
<mat-divider></mat-divider>
<label>Price :- </label><h4>{{price}}</h4>
<mat-divider></mat-divider>
<label>Jain/Non Jain :- </label><h4>{{is_jain}}</h4>
<mat-divider></mat-divider>
<label>Available / Not Available:- </label><h4>{{is_available}}</h4>
<mat-divider></mat-divider>
<label>Ingredients :- </label><h4>{{ingredients}}</h4>
<mat-divider></mat-divider>
<label>Category Name :- </label><h4>{{cat_name}}</h4>
<mat-divider></mat-divider>

