<!-- letest product section -->
<!-- <section class="top-letest-product-section">
  <div class="container">
    <div class="section-title">
      <h2>LATEST PRODUCTS</h2>
    </div>

    <slideshow
      #img1
      [height]="'400px'"
      [showDots]="true"
      [minHeight]="'100px'"
      [autoPlay]="true"
      [showArrows]="false"
      [imageUrls]="ImageUrl"
      [lazyLoad]="ImageUrl?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [showArrows]="true"
      [arrowSize]="'30px'"
      [backgroundSize]="'300px'"
      [showCaptions]="true"
      (click)="onSlideShow(img1.slideIndex)"
    >
    </slideshow>
  </div>
</section> -->

<!-- letest product section end -->

<!-- Product filter section -->
<!-- <section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <h2>BROWSE TOP SELLING PRODUCTS</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6" *ngFor="let item of New_Product_list">
        <div class="product-item">
          <div class="pi-pic">
            <img
              class="pic"
              src="http://localhost:3000/images/Product_img/{{
                item.Product_image
              }}"
              alt=""
            />

            <div class="pi-links">
              <a class="add-card" (click)="onProductDetails(item)"
                ><i class="flaticon-bag"></i><span>ADD TO CART</span></a
              >
            </div>
          </div>
          <div class="pi-text">
            <h6>{{ item.Product_price }}</h6>
            <p>{{ item.Product_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Product filter section end -->
