<!--  Begin Munoz's Footer Area -->
<div class="munoz-footer_area">
  <div class="footer-top_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6" style="margin-left: 10%; border-right: 1px solid black;padding: 20px;">
          <div class="footer-widgets_title">
            <h4>Social Netowrk</h4>
          </div>
          <div class="footer-widgets">
            <ul>
              <a _ngcontent-c2="" class="instagram" href="https://www.instagram.com/theesplendido/"><i _ngcontent-c2=""
                  class="fab fa-instagram"></i><span _ngcontent-c2=""> instagram </span></a><br>
              <a _ngcontent-c2="" class="google-plus"
                href="https://www.justdial.com/Ahmedabad/The-Esplendido-Navrangpura/079PXX79-XX79-180918121853-L2C2_BZDET"><i
                  _ngcontent-c2="" class="fab fa-google-plus-g"></i><span _ngcontent-c2=""> Google + </span></a><br>
              <a _ngcontent-c2="" class="facebook" href="https://www.facebook.com/TheEsplendido"><i _ngcontent-c2=""
                  class="fab fa-facebook-square"></i><span _ngcontent-c2=""> facebook </span></a>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6" style="margin-left: 5%; border-right: 1px solid black;padding: 20px">
          <div class="footer-widgets_title">
            <h4>ABOUT</h4>
          </div>
          <div class="footer-widgets">
            <p>
              On the other hand, we denounce with righteous indignation and dislike men are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6" style="margin-left: 9%;">
          <div class="footer-widgets_title">
            <h4>CONTACT US</h4>
          </div>
          <div class="footer-widgets">
            <label>teachfeast123@gmail.com</label>
            <label>Timing :- 11:00am to 12:00am</label>
            <label>Contact No :- 9909040908</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Begin Footer Upper Bottom Area -->
  <div class="footer-upper_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-tag_links" style="margin-left: 25%;">
            <h3 class="footer-tag_title" style="text-align: center;">Tags:</h3>
            <ul>
              <li><a href="javascript:void(0)">User Exprience</a></li>
              <li><a href="javascript:void(0)">Web</a></li>
              <li><a href="javascript:void(0)">Web Search</a></li>
              <li><a href="javascript:void(0)">Affiliate</a></li>
              <li><a href="javascript:void(0)">Support</a></li>
              <li><a href="javascript:void(0)">Theme</a></li>
              <li><a href="javascript:void(0)">Best Quality</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Upper Bottom Area End Here -->
  <!-- Begin Footer Bottom Area -->
  <div class="footer-bottom_area">
    <div class="container">
      <div class="row">
        <!-- Begin Copyright Area -->
        <div class="col-lg-12">
          <div class="copyright">
            <span>Copyright &copy; 2019 <a href="javascript:void(0)">Esplandido.</a> All rights reserved.</span>
          </div>
        </div>
        <!-- Copyright Area End Here -->
      </div>
    </div>
  </div>
  <!-- Footer Bottom Area End Here -->
</div>
