<body>
<div class="login-box">
      <img src="../../assets/1.png" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form [formGroup]="onforgetpassForm" (ngSubmit)="onForgotPassword()">

        <label for="username">EmailId</label>
        <input formControlName="email_id" matInput type="text">
        <mat-label class="label" *ngIf="onforgetpassForm.get('email_id').hasError('required') && !onforgetpassForm.get('email_id').pristine ">Email
          is required.</mat-label>
        <mat-label class="label" *ngIf="onforgetpassForm.get('email_id').hasError('email') && !onforgetpassForm.get('email_id').pristine ">Invalid
         Email</mat-label>

        <br><input type="submit" style="margin-top: 40px;" value="Send">


      </form>
    </div>
  </body>

