/* table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
} */

/* table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
} */
table {
  width: 100%;
}

tr.example-detail-row {
  height: 6;
}

img{
  height:100px;
  width:100px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

button:hover{
  background:white;
}

tr.example-element-row:not(.example-expanded-row):active {
  background:#efefef;
}

.example-element-row td {
  border-bottom-width: 1;
}

.example-element-detail {
  overflow: hidden;
  display: block;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 250px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 220px;
}

.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.example-element-description {
padding: 16px;
}

.example-element-description-attribution {
opacity: 0.5;
}
