<label>Name :- </label><h4>{{name}}</h4>
<mat-divider></mat-divider>
<label>Price :- </label><h4>{{price}}</h4>
<mat-divider></mat-divider>
<label>Quantity :- </label><h4>{{qty}}</h4>
<mat-divider></mat-divider>
<label>Date :- </label><h4>{{date}}</h4>
<mat-divider></mat-divider>
<label>Table No :- </label><h4>{{table_no}}</h4>
<mat-divider></mat-divider>
<label>Special Instruction :- </label><h4>{{special_instruction}}</h4>
<mat-divider></mat-divider>
<label>Category Status :- </label><h4>{{status}}</h4>
<mat-divider></mat-divider>




