@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.category:hover{
  background-color: red;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #09823F;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #09823F;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  opacity: 0;
  cursor: pointer;
}

.search:before {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  line-height: 36px;
  background: #09823F;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'FontAwesome';
  content: '\f002';
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  margin: 1%;
}


div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}
